nav {
    overflow: hidden;
    background-color: var(--tan);
}

nav button {
    background-color: var(--tan);
    border: none;
    float: left;
    display: block;
    color: var(--light);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav button:hover {
    background-color: var(--tan);
    color: var(--dark);
}

nav button.active {
    background-color: var(--dark-tan);
    color: var(--light);
}

nav .icon {
    display: none;
}


@media screen and (max-width: 600px) {
    nav button:not(:first-child) {display: none;}
    nav button.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    nav.responsive {position: relative;}
    nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    nav.responsive button {
        float: none;
        display: block;
        text-align: center;
    }
}
