body {
    margin: 0;
    background-color: var(--bg);
    font-family: 'Times New Roman', serif;
}

p, h1, h2, h3 {
    text-align: center;
    color: var(--light);
}

#kings-letter {
    margin: auto;
    width: 40vw;
    height: 55vw;
    background-color: var(--light-tan);
}

#kings-letter p {
    font-family: "Dancing Script";
    font-size: 4vw;
    margin: 0;
    color: var(--dark);
}

#kings-letter-main {
    padding-top: 5%;
}

#kings-letter-signiture {
    display: flex;
    position: relative;
    top: 10%;
}

#kings-letter-signiture-buffer {
    width: 50%;
}

#invite {
    display: block;
    text-align: center;
}

#invite button {
    border: none;
    color: var(--light);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: var(--tan);
}
